<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clover.fda.hellfire03" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MiqActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.ScMenuActivity"
            android:label="@string/title_activity_sc_menu" >
        </activity>
        <activity
            android:name=".parameter.ParameterActivity"
            android:label="@string/title_activity_parameter" >
        </activity>
    </application>

</manifest>
